<h1 class = "text-center">
    Welcoming to the polling app
</h1>


{{#if polls}}
    
    <div class = "polls">
        {{#each polls}}
            <div class = "well">
                <div>
                    <p class = "poll-name">{{this.pollname}}</p>
                
                    <div class = "poll-buttons">
                        <a class = "btn btn-success">View</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    
    
    
{{else}}
    <p>no polls</p>
{{/if}}