<h1 class = "text-center">
    Welcoming to the polling app
</h1>


{{#if polls}}
    
    <div class = "polls">
        {{#each polls}}
            {{> pollcard poll=this}}
        {{/each}}
    </div>
    
    
    
{{else}}
    <p>no polls</p>
{{/if}}