<h1 class = "text-center">
    Hello {{user_info.username}}
    
</h1>

<a href = "/createpoll" class = "btn btn-block btn-default">Create Poll</a>

{{#if polls}}
    <p>We can view polls</p>  
{{else}}
    <p>no polls</p>
{{/if}}