<h1 class = "text-center">
    Hello {{user_info.username}}
    
</h1>

<a href = "/createpoll" class = "btn btn-block btn-default">Create Poll</a>

<br>

{{#if polls}}
    
    <div class = "polls">
        {{#each polls}}
            <div class = "well">
                {{this.pollname}}
                
                <div  class = "poll-buttons">
                    <form style = "display:inline;" method = "POST" action = "/deletepoll">
                        <input type = "hidden" name = "poll" value = {{this}}>
                        <button type = "submit" class = "btn btn-danger">Delete</button>
                    </form>
                
                    <button style = "display:inline;" class = "btn btn-success">View</button>
                </div>
                
            </div>
        {{/each}}
    </div>
    
    
    
{{else}}
    <p>no polls</p>
{{/if}}