<h1 class = "text-center">
    Hello {{user_info.username}}
    
</h1>

<a href = "/createpoll" class = "btn btn-block btn-default">Create Poll</a>

<br>

{{#if polls}}
    
    <div class = "polls">
        {{#each polls}}
            {{> pollcard poll=this personal=true}}
        {{/each}}
    </div>
    
    
    
{{else}}
    <p>no polls</p>
{{/if}}