/** Navbar **/

.navbar {
	border-radius: 0px !important;
}

.navbar-margin, .main-content {
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
}

/** poll stuff **/

.poll-card {
	min-height: 20px;
	padding: 40px;
	border: 1px solid black;
}


.poll-name {
	display:inline;
}

.poll-buttons {
	float: right;
}